<div class="app-container">
    <mat-card class="http-test-card">
    <img mat-card-image src="/assets/i/contact-banner.jpeg" alt="Version">
    <br>
    <br>
    <br>
      <mat-card-content>
        <div align="left">
            <span class="companylogo"><img src="{{this.companyLogo}}" height="60" width="60"></span><br><br>
              <span class="companyname">{{ this.companyName }}</span><br><br>
              <span class="companyaddress">{{ this.companyAddress }}</span><br>
              <span class="companyaddress">{{ this.companyAddress2 }}</span><br>
              <span class="companyaddress">{{ this.companyCity }} {{ this.companyState }}, {{ this.companyZip }}</span><br><br>
              <span class="companyaddress">{{ this.companyPhone }}</span><br>
              <span class="companyaddress">{{ this.companyEmail }}</span><br>
              <hr>
          </div>
      </mat-card-content>
    </mat-card>
  </div>

